{% extends 'base_outer.html' %}

{% block page_title %} &ndash; Sign In{% endblock %}

{% block css %}<link href="https://getbootstrap.com/docs/4.0/examples/sign-in/signin.css" rel="stylesheet">{% endblock %}

{% block body %}
  <body class="text-center">
    <form class="form-signin" method="post">
      <!-- <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72"> -->
      {% csrf_token %}
      <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

      {{ form.username.errors }}
      {{ form.username }}
      {{ form.password.errors }}
      {{ form.password }}
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      <p style="margin-bottom: 5px; margin-top: 10px">
        <a href="{% url 'new_school' %}">School Sign Up</a>
      </p>
      <p style="margin-bottom: 5px"><a href="{% url 'new_parent' %}">Parent Sign Up</a></p>
      <p><a href="{% url 'new_agent' %}">Agent Sign Up</a></p>
      <p class="mt-5 mb-3 text-muted">&copy; 2017-2018 EduPay</p>
    </form>
  </body>
{% endblock %}