{% extends 'base_outer.html' %}

<title>EduPay{% block page_title %} &ndash; Dashboard{% endblock %}</title>

{% block css %}
  <link href="https://getbootstrap.com/docs/4.0/examples/checkout/form-validation.css" rel="stylesheet">
  <link href="https://getbootstrap.com/docs/4.0/examples/dashboard/dashboard.css" rel="stylesheet">
{% endblock %}

{% block markup %}
<body>
  <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">EduPay</a>
    <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
        <a class="nav-link" href="{% url 'logout' %}">Sign out</a>
      </li>
    </ul>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            {% if user.parent %}
              <li class="nav-item">
                <a class="nav-link active" href="{% url 'dashboard' %}">
                  <span data-feather="users"></span>
                  Children <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'savings' %}">
                  <span data-feather="bar-chart-2"></span>
                  Savings
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="layers"></span>
                  Payments
                </a>
              </li>
            {% endif %}
          </ul>
        </div>
      </nav>

      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
        {% if user.parent %}
          <h1>Children</h2>
          <div class="table-responsive">
            {% if children %}
              <table class="table table-striped table-sm">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>School</th>
                    <th>Fee per term</th>
                    <th></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  {% for child in children %}
                    <tr>
                      <td>{{ child.get_full_name }}</td>
                      <td>{{ child.school.name }}</td>
                      <td>{{ child.fee_per_term }}</td>
                      <td><a href="#">Edit</a></td>
                      <td><a href="#">Delete</a></td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            {% else %}
              <div class="alert alert-info" role="alert">
                You have not added a child.
              </div>
            {% endif %}
          </div>

          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h2>Add Child</h2>
          </div>
          <div class="row">
            <div class="col-md-6">
              <form method="post" class="needs-validation" novalidate>
                {{ form.non_field_errors }}
                {% csrf_token %}
                <div class="row">
                  <div class="col-md-6 mb-3">
                    {{ form.first_name.label_tag }}
                    {{ form.first_name.errors }}
                    {{ form.first_name }}
                    <div class="invalid-feedback">
                      Valid first name is required.
                    </div>
                  </div>
                  <div class="col-md-6 mb-3">
                    {{ form.last_name.label_tag }}
                    {{ form.last_name.errors }}
                    {{ form.last_name }}
                    <div class="invalid-feedback">
                      Valid last name is required.
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-9 mb-3">
                    {{ form.school.label_tag }}
                    {{ form.school.errors }}
                    {{ form.school }}
                    <div class="invalid-feedback">
                      School is required.
                    </div>
                  </div>
                  <div class="col-md-3 mb-3">
                    {{ form.fee_per_term.label_tag }}
                    {{ form.fee_per_term.errors }}
                    {{ form.fee_per_term }}
                    <div class="invalid-feedback">
                      Fee per term is required.
                    </div>
                  </div>
                </div>

                <hr class="mb-4">
                <button class="btn btn-primary btn-lg btn-block" type="submit">Submit</button>
              </form>
            </div>
          </div>
        {% endif %}
      </main>
    </div>
  </div>
{% endblock %}
{% block page_js %}
<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
<script>
  feather.replace()
</script>
{% endblock %}