{% extends 'savings/base_dash.html' %}

{% block dash_content %}
<h1>Saving Plans</h2>
<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>Name</th>
        <th>School</th>
        <th>Fee per term</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
</div>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
  <h2>Create Plan <span class="text-muted" style='font-size: 50%;'>All figures are in Naira (NGN)</span></h2>
</div>
<div class="row">
  <div class="col-md-6">
    <form method="post" class="needs-validation" novalidate>
      {{ form.non_field_errors }}
      {% csrf_token %}
      <div class="row">
        <div class="col-md-4 mb-3">
          {{ form.total_fee.label_tag }}
          {{ form.total_fee.errors }}
          {{ form.total_fee }}
        </div>
        <div class="col-md-4 mb-3">
          <label for="{{ form.amount_to_be_saved.id_for_label }}" style='font-size: 67.85%;'>Amount to be saved 
            <span class="text-muted">({{ savings_percent }}% of total fee)</span>
          </label>
          {{ form.amount_to_be_saved.errors }}
          {{ form.amount_to_be_saved }}
        </div>
        <div class="col-md-4 mb-3">
          {{ form.frequency.label_tag }}
          {{ form.frequency.errors }}
          {{ form.frequency }}
          <div class="invalid-feedback">
            Please select a frequency.
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-5 mb-3">
          {{ form.target_term.label_tag }}
          {{ form.target_term.errors }}
          {{ form.target_term }}
          <div class="invalid-feedback">
            Please select a target term.
          </div>
        </div>
        <div class="col-md-4 mb-3">
          {{ form.target_date.label_tag }}
          {{ form.target_date.errors }}
          {{ form.target_date }}
        </div>
        <div class="col-md-3 mb-3">
          {{ form.contribution.label_tag }}
          {{ form.contribution.errors }}
          {{ form.contribution }}
        </div>
      </div>
      <hr class="mb-4">
      <button class="btn btn-primary btn-lg btn-block" type="submit">Submit</button>
    </form>
  </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
  function computeTargetDate(term) {
    if (term == 1) {
      var targetDay = 20;
      // 1st term starts in September which should be 9,
      // but get_month() starts Jan at 0, so Sep will be 8
      var targetMonth = 8;
    }

    if (term == 2) {
      var targetDay = 10;
      var targetMonth = 0;
    }

    if (term == 3) {
      var targetDay = 15;
      var targetMonth = 3;
    }

    var thisMonth = new Date().getMonth();

    // Figure out target year
    if (targetMonth > thisMonth) {
      var targetYear = new Date().getFullYear();
    } else {
      var targetYear = new Date().getFullYear() + 1;
    }

    var targetDate = new Date(targetYear, targetMonth, targetDay);
    return targetDate;
  }

  function computeContribution() {
    var freq = document.getElementById('id_frequency').value;
    var term = document.getElementById('id_target_term').value;
    var totalFee = document.getElementById('id_total_fee').value;

    if (term && !freq) {
      alert('Please select contribution frequency.');
    } else if (!term && freq) {
      // alert('Please select target term.');
    } else {
      // Get target date
      var targetDate = computeTargetDate(term);

      // Compute number of days between now and targetDate
      var timeDiff = Math.abs(targetDate.getTime() - new Date().getTime());
      var days = Math.ceil(timeDiff / (1000 * 3600 * 24));

      // Compute contribution
      var amountToBeSaved = document.getElementById('id_amount_to_be_saved').value;
      if (freq == 'daily') {
        var contribution = Math.ceil(amountToBeSaved / days);
      } else if (freq == 'weekly') {
        var contribution = Math.ceil(amountToBeSaved / Math.floor(days / 7));
      } else {
        var contribution = Math.ceil(amountToBeSaved / Math.floor(days / 30));
      }
    }
    // Make target date friendly
    var parts = targetDate.toString().split(' ');
    var friendlyDate = parts[1] + ' ' + parts[2] + ' ' + parts[3];

    // Display friendly target date
    document.getElementById('id_target_date').value = friendlyDate;

    // Display contribution
    document.getElementById('id_contribution').value = contribution;
  }
</script>
{% endblock %}