{% extends 'base_outer.html' %}

{% block css %}
  <link href="https://getbootstrap.com/docs/4.0/examples/checkout/form-validation.css" rel="stylesheet">
{% endblock %}

{% block markup %}
<body class="bg-light">
  <div class="container">
    <div class="py-5 text-center">
      {% block page_header %}{% endblock %}
      <!-- <p class="lead">Below is an example form built entirely with Bootstrap's form controls. Each required form group has a validation state that can be triggered by attempting to submit the form without completing it.</p> -->
    </div>
    <div class="row">
      <div class="col-md-8 offset-md-2">
        {% block form %}{% endblock %}
      </div>
    </div>
    <footer class="my-5 pt-5 text-muted text-center text-small">
      <p class="mb-1">&copy; 2017-2018 EduPay</p>
      <ul class="list-inline">
        <li class="list-inline-item"><a href="#">Privacy</a></li>
        <li class="list-inline-item"><a href="#">Terms</a></li>
        <li class="list-inline-item"><a href="#">Support</a></li>
      </ul>
    </footer>
  </div>
{% endblock %}